.Dashboard{
    display: flex;
    height: 89.5vh;
    width: 110%;
    position: relative;
    overflow: hidden;
    
}

.Dashboard>div.DashboardSidebar{
    width: 20%;
    height: 89.5vh;
    background-color: rgba(0, 0, 0, 0.856);
    position: relative;
    border-radius: 0 10px 10px 0;
}

.Dashboard>div.DashboardMain{
    width: 55%;
    height: 89.5vh;
    background-color: rgba(163, 0, 0, 0.315);
}

